<div class="container-fluid page">
    <div class="page__box p-3 mt-2">Ticket Statistics</div>
    <div class="page__content shadow p-3 position-relative">
        <button mat-stroked-button routerLink="/ticket-statistics">Ticket Statistics</button><button mat-stroked-button routerLink="/asset-statistics">Asset Statistics</button>
        <mat-grid-list class="bg-dark" cols="3" rowHeight="2:1">
            <mat-grid-tile>1</mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
            <mat-grid-tile>5</mat-grid-tile>
            <mat-grid-tile>6</mat-grid-tile>
            <mat-grid-tile>7</mat-grid-tile>
            <mat-grid-tile>8</mat-grid-tile>
            <mat-grid-tile>9</mat-grid-tile>
        </mat-grid-list>
        <div class="page__content-data position-absolute text-center">
        </div>
    </div>
</div>