<p>sidenavbar works!</p>
<mat-nav-list>  
    <div class="logo py-4">
        <img src="GTRIDashboard-App-Team1/src/app/assets/images/KSULogo.png" alt="Company Logo">
    </div>
    <a class="text-white" mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> 
        Home
    </a>
    <a class="text-white" mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> 
        Dashboard
    </a>
</mat-nav-list>