<mat-nav-list>  
  <!-- Sidebar -->
    <div class="sidebar-header">
        <div class="logo py-4 text-white">
            <img src="/../assets/images/KSULogo.png" alt="Company Logo">
        </div>
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" mat-list-item routerLink="/home" routerLinkActive="list-item-active">
            <mat-icon>home</mat-icon> 
            Home
        </a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li><a href="#">Home 1</a></li>
          <li><a href="#">Home 2</a></li>
          <li><a href="#">Home 3</a></li>
        </ul>
      </li>

      <li><a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
          <mat-icon>dashboard</mat-icon> 
          Dashboard
        </a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
      </li>

      <li><a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"><mat-icon>dns</mat-icon> Network</a></li>

      <li><a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"><mat-icon>people</mat-icon>Service Desk</a></li>
      <li><a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"><mat-icon>settings</mat-icon> Settings</a></li>
      
    </ul>

</mat-nav-list>