:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width: 250px;
    background-color: #2d2d2d;
}

mat-drawer-container {
    height: 100%;
}
*:not(mat-icon) {
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
html {
    background-color: red;
    vertical-align: auto;
}
.login-wrapper {
    background: green;
}