
<style>
  
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, 
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 240px;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #F0F0F0;
    color: white;
    font-weight: 600;

  }

/* for list on left toolbar */
  .toolbar-vertical {
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    height: 100%;
    width: 240px;
    display: block;
    background-color: #2d2d2d;
    align-items: center;
    font-weight: 600;
  }

  .toolbar-vertical img {
    margin: 0 0 600px 85px;
  }

  
  .toolbar-vertical ul {
    list-style-type: none;
    position: absolute;
    top: 140px;
    right: auto;
  }

  .toolbar-vertical li{
    padding-top: 6px;
  }

  .toolbar-vertical .menu{
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   margin-top: 35px;
  }

  .toolbar-vertical .menu li:last-child{
    margin-top: auto;
    margin-bottom: 20px;
  }
  .toolbar-vertical .menu li> *{
    width: 100%;
    padding: 12px 15px;
  }
  .toolbar-vertical .menu .menu-heading h3{
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 12px;
    color: #125699;
  }
  .toolbar-vertical .menu a,
  .toolbar-vertical .menu button{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
  }

  .toolbar img {
    margin: 0 16px;
  }

  /* For search bar */
  .toolbar input[type=text]{
    width: 300px;
    float: left;
    padding: 6px;
    margin-left: 15px;
    border-radius: 25px;
    border: none;
    height: 22px;
  }

  /* Ticket boxes */
  .container {
    width: 600px;
    height: 190px;
    background-color: white;
    padding-top: 20px;
    padding-left: 240px;
    padding-right: 15px;
  }

  #first-box {
    float: left;
    width: 180px;
    height: 160px;
    background-color: white;
    border: solid black;
  }
  #second-box{
    float: left;
    width: 180px;
    height: 160px;
    background-color: white;
    border: solid black;
    margin-left: 20px;
  }
  #third-box{
    float: right;
    width: 180px;
    height: 160px;
    background-color: white;
    border: solid black;
    margin-left: 20px;
  }
  /* End ticket boxes*/ 


  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  footer {
    position: fixed;
    bottom: 0;
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
    color: gray;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Vertical toolbar -->
<div class="toolbar-vertical">
  <ul class="menu">
    <li class="menu-heading"> 
      <h3>Dashboard</h3>
    </li>
    <li><a href="#"> Inventory</a></li>
    <li><a href="#"> Distribution</a></li>
    <li><a href="#"> Service Desk</a></li>
    <li><a href="#"> Settings</a></li>
  </ul>
</div>

<!-- Toolbar -->
<div class="toolbar" >
  <input type="text" placeholder="Search..." />
</div>

<div class="content" role="main">

  <!-- 3 blocks for tickets here -->
  <h2>Ticket Statistics</h2>
  <button type="submit" mat-raised-button color="primary">Submit</button>
  
  <div class="container">
    <div id="first-box">

    </div>
    <div id="second-box">

    </div>
    <div id="third-box">

    </div>
  </div>
  <!-- End ticket blocks -->

  <div class="card-container">

  </div>

  <!-- Next Steps -->
  <h2>Next Steps</h2>
  
  <input type="hidden" #selection>

  <div class="card-container">
    <button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>New Component</span>
    </button>

    
  </div>

  <!-- Footer -->
  <footer>
     Team 1 Capstone 2022
  </footer>

  
</div>


<router-outlet></router-outlet>
