.page {
    padding-left: 0 !important;
    padding-right: 0 !important;
    &__content {
        min-height: calc(100vh - 135px);
        background-color: #ededed;
        color: black;
        font-size: 2rem;
        &-data {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
*:not(mat-icon) {
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}