<!-- <mat-nav-list>  
    <div class="sidebar-header">
        <div class="logo py-4 text-white">
            <img src="../../../assets/images/KSULogo.png" alt="Company Logo">
        </div>
    </div>

    <ul class="list-unstyled components">
      <li><a mat-list-item href="#pageSubmenu" class="dropdown-toggle"  routerLink="/dashboard" routerLinkActive="list-item-active">
          <mat-icon>dashboard</mat-icon> 
          Dashboard
        </a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
      </li>

      <li><a mat-list-item routerLink="/network" routerLinkActive="list-item-active"><mat-icon>dns</mat-icon> Network</a></li>

      <li><a mat-list-item routerLink="/service-desk" routerLinkActive="list-item-active"><mat-icon>people</mat-icon>Service Desk</a></li>
      <li><a mat-list-item routerLink="/settings" routerLinkActive="list-item-active"><mat-icon>settings</mat-icon> Settings</a></li>
      
    </ul>

</mat-nav-list>
-->
<div class="sidebar-header">
  <div class="logo py-4 text-white">
      <img src="../../../assets/images/logo/KSULogo.png" alt="Company Logo">
  </div>
</div>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
  <!-- This is the tree node template for leaf nodes -->
  <!-- There is inline padding applied to this node using styles.
    This padding value depends on the mat-icon-button width. -->
  <mat-tree-node class="mat-tree-subMenu"  *matTreeNodeDef="let node" matTreeNodeToggle>
    <mat-icon>{{node.icon}}</mat-icon><a style="font-size: 15px;" routerLinkActive="list-item-active" [routerLink]="[node?.path]">{{node.name}}</a>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
      <div class="mat-tree-node">
        <mat-icon>{{node.icon}}</mat-icon><a style="font-weight: 500;" routerLinkActive="list-item-active" [routerLink]="[node?.path]">{{node.name}}</a>
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
      </div>
      <!-- There is inline padding applied to this div using styles.
          This padding value depends on the mat-icon-button width.  -->
      <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
          role="group">
        <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>


<!-- Copyright 2022 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->
