*:not(mat-icon) {
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.logo {
    text-align: center;
    padding: 2.6rem 1rem;
    img {
        width: 160px;
    }
}

.mat-icon-rtl-mirror {
    padding-left: 10px;
}
.mat-tree {
    width: 100%;
    vertical-align: center;
    background-color: #2d2d2d !important; 
    a {
        color: #c0c0c0 !important;
        font-size: 1rem;
        text-decoration: none;
        font-weight:lighter;
    }
    
    .mat-nested-tree-node, .mat-tree-node {
        mat-icon {
            color: #c0c0c0;
        }

    }
    ::ng-deep {
        .mat-tree-node {
            border-radius: 3px;
            margin: 0 8px;
            &:hover{
                background: #3d3d3d !important;
            }
        }
    }
}

.mat-icon {
    transform: scale(.9);
    vertical-align: center;
    margin-right: 1rem;
}

.example-tree-invisible {
    display: none;
  }
  
  
  
  /*
   * This padding sets alignment of the nested nodes.
   */
 
  
  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */

  